<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quantum Leap App</title>
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="wrapper">
    <div class="container chat-body">
      <div class="row chatroom bordered">
        <div class="col-md-3">Quantum Leap Chat</div>
        <div id="roomcount">No of users watch this url : </div>
        <div class="col-md-9 chatarea">
          <ul id="chatbox">
                 
          </ul>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>


  <div class="footer">
    <div class="container">
      <form id="chat_form">
        <textarea id="chat_input"></textarea>
        <button  class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>

  <script type="text/javascript">
  //var db = require('./db');
    $(document).ready(function(){
      var socket = io.connect();
      var uid = 'raheemdd';
      var FBID,room;
      socket.on('connect', function(){
          
         // FBID = prompt("what is your Facebook id?");
         //  room = prompt("enter your youtube id");
          //google_id = 'mujavar@gmail.com';
       FBID = '1505563059728251';
         
        socket.emit('logInWithFacebook',
          {
                    "FBID" : "55055630597282490",
                    "FBNAME" : "raheem",
                    "FBPIC":"dd",
                    "FBCITY":"hyderabad",
                    "FBCOUNTRY":"india",
                    "deviceToken":"1",
                    "EMAIL" : "raheem@gmail.com" 
            });

        socket.emit('getTeamInformation',
          {
                    "team1Id" : "1",
                    "team2Id" : "4",
                    "matchId" : "189337",
                    "FBID" : "867602899946868",
                    "mtype" : "t20"

            });
      //   socket.emit('getPlayerInformation',{"playerId":10181});

      //  socket.emit('getPlayerCurrentPrice',{"playerId":4035,"matchId":"189337"});

      //   socket.emit('getBidInformation',{"playerId":29679,"matchId":"189337","FBID" : "910220819018643"});

      //   socket.emit('setBidInformation',{
      //               "matchId" : "189337",
      //               "playerId" : 29679,
      //               "FBID" : "666362516816084",
      //               "bidAmount" : 60
      //   })

     

      // socket.emit('updateBidInformation',{
      //               "matchId" : "190482",
      //               "playerId" : 60014,
      //               "FBID" : "58487587854897",
      //               "oldbid" : 10,
      //               "newbid" : 700
      //   })
      //    socket.emit('deleteBidInformation',{
      //               "matchId" : "190482",
      //               "playerId" : 10181,
      //               "FBID" : "124568798587813124",
      //               "bidAmount" : 1000
      //   })
      // socket.emit('sellplayer',{
      //               "matchId" : "190482",
      //               "playerId" : 10181,
      //               "FBID" : "1245687985878131",
      //               "bid" : 132,
      //               "player_price" : 100
      //   })

      // socket.emit('InviteFriends',{
      //               "FBID" : "58487587854895",
      //               "acceptedFBID" : ["55055630597282490","867602899946868"]
                    
      //   })

        socket.emit('AskFriendsAccept',{
                    "FBID" : "58487587854895",
                    "FriendFBID" : "55055630597282490"
                    
                    
        })

    //  socket.emit('getUserPlayers',{
    //                 "FBID" : "867602899946868",
    //                 "matchId" : "189337"
                    
    //     })

    //  socket.emit('createPrivateLeague',{ 
    //   "FBID" : "1505563059728251", 
    //   "leagueName" : "league2", 
    //   "matchId" : "1235" 
    // })

    //   socket.emit('joinLeague',{ 
    //     "FBID" : "5505563059728250", 
    //     "leagueId" : "54882284290df9a921f756c9", 
    //     "matchId" : "1235" 
    //   }) 

    //   socket.emit('createPublicLeague',{ 
    //     "FBID" : "1505563059728249", 
    //     "matchId" : "1235" 
    //   })


    //  socket.emit('getchatInfo',
    //  {
    //    "matchId" : 1235,
    //    "FBID" : "1505563059728251"
    //  })

       //              //while loop ends here 
      });
      //connect socket ends here
       var timest = Date.now(),name1= '',yid='',chat_id='';

      //message socket starts here

      socket.on('message1', function(data){
       //  timest = data.timest;
        
       //  var timest = new Date(timestamp).format("dd-MM-yyyy hh:mm");
        insertMessage(data.message, data.FBID, data.timestamp);
      });

       socket.on('privatechat', function(data){
       //  timest = data.timest;
        
       //  var timest = new Date(timestamp).format("dd-MM-yyyy hh:mm");
        insertMessage(data.message, data.FBID, data.timestamp);
      });



      $('#chat_input').keypress(function(e){
        if(e.keyCode == 13 && !e.shiftKey) {
         e.preventDefault();
         formSubmit();
        }
      });

      var formSubmit = function(){
        var chatInput = $('#chat_input');
        var message = chatInput.val();
        chatInput.val("");
        insertMessage(message);
        socket.emit('message1', {
          message : message ,
          FBID : FBID,
          timestamp : new Date()
        });
        socket.emit('privatechat', {
          matchId : 1235,
          message : message ,
          FBID : FBID,
          timestamp : new Date()
        });
      }

      $('#chat_form').on('submit', function(e){
        e.preventDefault();
        formSubmit();
      });



      //this method does not prevent XSS!!
      var insertMessage = function(message,FBID, wakt){
        var li;
 var datdiff = new Date(wakt);
 li = 'hi raheem';
        if (FBID){
          li = '<li class="message"><span class="name">' + FBID + ':</span><br />' + message + '<br>'+datdiff+'</li>'
        }else{
          li = '<li class="message self">' + message + ' <br>'+datdiff+'</li>'
        }
        $('#chatbox').append(li);
      }
    })
  </script>

</body>
</html>

<!-- { "_id" : "380501838774394", "FBNAME" : "Jugal Kishore Patel" }
{ "_id" : "854937887860995", "FBNAME" : "Sai Charan" }
{ "_id" : "898680880150537", "FBNAME" : "Sathya Prakash" }
{ "_id" : "1501194273503103", "FBNAME" : "Raheem Shaik" }
{ "_id" : "484439598361527", "FBNAME" : "Francis Smith" }
{ "_id" : "10204559783931285", "FBNAME" : "Dilip Semwal" }
{ "_id" : "835079899888545", "FBNAME" : "Sameer Sonu" }
{ "_id" : "10152945638632628", "FBNAME" : "Daivesh Kulkarni" }
{ "_id" : "10152965461735127", "FBNAME" : "Giridhar Reddy" }
{ "_id" : "1012363385457456", "FBNAME" : "Sandeep Kothapalli" }
{ "_id" : "10152144695086150", "FBNAME" : "Sreedhar Kanuri" }
{ "_id" : "10152319906326150", "FBNAME" : "Sreedhar Kanuri" }
{ "_id" : "10152366601008568", "FBNAME" : "Tejaswy Nandury" }
{ "_id" : "10152691325095339", "FBNAME" : "Sachin Ravi" }
{ "_id" : "10154753747000401", "FBNAME" : "Disha Sharma" }
{ "_id" : "10154810120805057", "FBNAME" : "Mayank Khanduja" }
{ "_id" : "10202707553158805", "FBNAME" : "Ketna Kanodia" }
{ "_id" : "10204141842419862", "FBNAME" : "Saikrishna Rangineni" }
{ "_id" : "10204921606670496", "FBNAME" : "Sharath Jutur" }
{ "_id" : "10205166754031123", "FBNAME" : "Bharghav Sai" } -->
